* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/4vipers.jpg) center/cover no-repeat;
    min-height: 100vh;
    
}
.overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.69);
}
.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}
.container .card {
    position: relative;
    width: 300px;
    height: 300px;
    background: var(--img);
    background-size: 450px;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #fff;
    
}
.container .card h2 {
    background: #fff;
    color: #222;
    padding: 5px 20px;
    font-size: 2em;
    text-transform: uppercase;
}